body {
    background-image:url(homepage_achtergrond.jpg);
   	background-size: 100%;
   	background-attachment: scroll;
}


h1{
    font-style: italic;
    font-size:70px;
    color:white;
    margin-top:0px;
    
}
h2{
    color:white;
    font-size:70px;
}
ul {
    margin-left:200px;
    list-style-type: none;
    margin-top: 250px;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    
    
}

li {
    font-size:15px;
    float: left;
    padding-right:65px;
    padding-left:10px;
    border:0px solid black;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: transparent;
}


img {
    -webkit-filter: blur(5px);
     filter: blur(5px);
     border:1px solid white;
 
}
img:hover {
    -webkit-filter: blur(0px);
     filter: blur(0px);
     border: 1px solid white;
  
}
#homepage{
   
}
#deband{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
#media{
    
}
#nieuws{
    
}
#contact{
    
}
#undertext{
    color:white;
}
#blauw{
    filter: grayscale(100%);
-webkit-filter: grayscale(100%);
    
}
 

/*html,
body {
	margin:0;
	padding:0;
	height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	background:#ededed;
	padding:10px;
}
#content {
	padding-bottom:100px; /* Height of the footer element 
}*/
#footer {
	background:#212226; /*footer zelf*/
	width:98%;
	height:3%;
	position:absolute;
	bottom:0;
	left:0;
	border: 1px solid lightgray;
	border-radius: 10px;
	margin-left: 10px;
	margin-bottom: 5px;
}

.list{ 
    /*voor de footer links*/
    margin-left: 20px;
    color: white;
    Float: left;

}

.list2{
    margin-left: 50px;
    color: white;
    float: left;
    
    
}
nav ul {
    
    text-align:center;
    margin-top:0px;
    text-decoration: overline;

}
nav ul li{
    float: right;
    padding:0px 30px;
    list-style-type:none;
    border-bottom:solid 1px #8e8e8e;
    text-decoration: overline;
    width: 10%;
    
}
nav:hover{
    text-decoration:overline;
}

a:link {color:white;text-decoration:none;}
a:visited{color:white}
a:hover{color:white}

#oefen{
    color:white;
}

#menu{
    text-decoration:overline;
}
#test2{
    background-color:gray;
  opacity: 0.4;
    filter: alpha(opacity=40);
}

.contact{
    color: white;
}

.input{
    border-radius: 5px;
}

#formulier{
    margin-left: 170px;
    
}
#audio{
    color:white;
}

input[type=submit], input[type=reset], button{
       /* width:120px;
        height:25px;
        margin:0px 20px 0px 0px;
        border:1px white solid;
        border-radius:15px;
        box-shadow:0px 0px 10px 3px rgba(0,0,0,0.2);
        background-color:#424949;
        color:#FFFFFF;
        font-size:14px;
        cursor:hand;
        cursor:pointer;*/
        
         background: #616161;
         background-image: -webkit-linear-gradient(top, #616161, #444545);
  background-image: -moz-linear-gradient(top, #616161, #444545);
  background-image: -ms-linear-gradient(top, #616161, #444545);
  background-image: -o-linear-gradient(top, #616161, #444545);
  background-image: linear-gradient(to bottom, #616161, #444545);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
 /* padding: 10px 20px 10px 20px;*/
  text-decoration: none;
    width: 120px;
    height:25px;
    
}
input[type=submit]:hover, input[type=reset]:hover{
  background: #6c7073;
  background-image: -webkit-linear-gradient(top, #6c7073, #5f6061);
  background-image: -moz-linear-gradient(top, #6c7073, #5f6061);
  background-image: -ms-linear-gradient(top, #6c7073, #5f6061);
  background-image: -o-linear-gradient(top, #6c7073, #5f6061);
  background-image: linear-gradient(to bottom, #6c7073, #5f6061);
  text-decoration: none;
    
    
}

#fb-root{
    height:200px;
    width:200px;
}